@page
@model MascotaFeliz.App.Frontend.Pages.CrearMascotasModel
@{
}

<h2>Crear Mascota:</h2>

<form method="post" style="width: 20px;">
    

        <input type="hidden" asp-for="mascota.Id">

        <input type="hidden" asp-for="historia.Id">

        <input type="hidden" asp-for="historia.FechaInicial">

        <label asp-for="mascota.Nombre"></label>
        <input asp-for="mascota.Nombre">
        <br>

        <label asp-for="mascota.Color"></label>
        <input asp-for="mascota.Color">
        <br>        
        <label asp-for="mascota.Especie"></label>
        <input asp-for="mascota.Especie">
         <br>       
        <label asp-for="mascota.Raza"></label>
        <input asp-for="mascota.Raza">
        <br>        
        <label for="dueno">Dueño</label>
        <select id="dueno" asp-for="mascota.Dueno.Id" name = "duenoId">
            <option value="0">Seleccione un Dueño</option>
            @foreach (var dueno in Model.listaDuenos)
            {
                <option value="@dueno.Id">@dueno.Nombres @dueno.Apellidos</option>
            }
        </select>
        <label for="veterinario">Veterinario</label>
        <select id="veterinario" asp-for="mascota.Veterinario.Id" name = "veterinarioId">
            <option value="0">Seleccione un Veterinario</option>
            @foreach (var veterinario in Model.listaVeterinarios)
            {
                <option value="@veterinario.Id">@veterinario.Nombres @veterinario.Apellidos</option>
            }
        </select>
        <input type="submit" class="btn" value="Crear" >
 
</form>
<br>
<br>
<a asp-area="" asp-page="/Mascotas/ListaMascotas">Volver A Lista Mascotas</a>

