@page
@model MascotaFeliz.App.Frontend.Pages.DetallesMascotasModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/styleCard.css" />
     <link rel="stylesheet" href="~/css/stylesFormulario.css">
</head>

<body>
    <br>
    <br>
    <br>
    <main class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <br>
                <br>
                <div class="card__perfil" style="background-color: rgb(55, 90, 122);">
                    <div class="card__nombre">
                        <img class="img2" src="~/images/mascotas-preferidas.jpg" alt="">
                        <h1>@Model.mascota.Nombre</h1>
                        <p>Historia numero: @Model.mascota.Historia.Id</p>
                    </div>
                    <hr>
                    <div class="card__descripcion">
                        <p>
                            id mascota: @Model.mascota.Id <br>
                            Color: @Model.mascota.Color<br>
                            Especie: @Model.mascota.Especie<br>
                            Raza: @Model.mascota.Raza<br>
                            Dueño: @Model.mascota.Dueno.Nombres @Model.mascota.Dueno.Apellidos<br>
                            Veterinario: @Model.mascota.Veterinario.Nombres @Model.mascota.Veterinario.Apellidos<br>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3" style="background-color: rgb(55, 90, 122);">
                <br>
                
                <a class="btn-fourth" asp-area="" asp-page="/Mascotas/ListaMascotas">Volver A Lista Mascotas</a>
                <br>
                

                    <a class="btn-third" asp-area="" asp-page="/Visitas/CrearVisitas"
                        asp-route-mascotaId="@Model.mascota.Id">Registrar
                        nueva
                        visita</a>

                <br>

                    <a class="btn-third" asp-area="" asp-page="/Visitas/ListaVisitas"
                        asp-route-mascotaId="@Model.mascota.Id"
                        asp-route-historiaId="@Model.mascota.Historia.Id">Historia</a>

            </div>
        </div>
    </main>



</body>
