@page
@model MascotaFeliz.App.Frontend.Pages.ListaMascotasModel
@{
}

        <div class="cont-botones">
            <a class="btn" asp-page="./CrearMascotas">Registrar Mascota</a>           
        </div>

        <div class="cont-tabla">
            <table class="tabla">
                <tr>
                    <th>Historia #</th>
                    <th>Nombre</th>
                    <th>Especie</th>
                    <th>Nombre Dueño</th>
                    <th>Cedula Dueño</th>
                    <th>Nombre Veterinario</th>
                    <th>Detalles</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                @foreach (var mascota in Model.listaMascotas)
                {
                    <tr>
                    <td>@mascota.Historia.Id</td>
                    <td>@mascota.Nombre</td>
                    <td>@mascota.Especie</td>
                    <td>@mascota.Dueno.Nombres @mascota.Dueno.Apellidos</td>
                    <td>@mascota.Dueno.Cedula</td>
                    <td>@mascota.Veterinario.Nombres @mascota.Veterinario.Apellidos</td>

                    <td>
                        <a class="btn-a" asp-page="./DetallesMascotas" asp-route-mascotaId="@mascota.Id">
                            <img src="~/images/detalle.png" style="width:30px ;" alt="detalles">
                        </a>
                    </td>
                    
                    <td>
                        <a class="btn-a" asp-page="./EditarMascotas" asp-route-mascotaId="@mascota.Id">
                            <img src="~/images/pencil-fill.png" alt="editar">
                        </a>
                    </td>
                    <td>
                        <a class="btn-a" asp-page="./ListaMascotas" asp-route-mascotaId="@mascota.Id">
                            <img src="~/images/delete-bin-5-line.png" alt="eliminar">
                        </a>    
                    </td>
                </tr>

                }
                
               
            </table>
        </div>
