@page
@model MascotaFeliz.App.Frontend.Pages.ListaDuenosModel
@{
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/stylesFormulario.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Propietarios</title>
</head>

<body>
    <br>
    <br>
    <br>
    <main class="container mt-5">
        <div class="row">
            <div class="col-md-3" id="form">
                <h1>Ingresar Nuevo Dueño</h1>

                <form method="post">
                    

                    <input asp-for="dueno.Cedula" id="controls" type="text" class="form-control mb-3" placeholder="Ingrese Cedula">
                    <input asp-for="dueno.Nombres"  id="controls" type="text" class="form-control mb-3"  placeholder="Ingrese Nombres">
                    <input asp-for="dueno.Apellidos" id="controls" type="text" class="form-control mb-3" placeholder="Ingrese Apellidos">
                    <input asp-for="dueno.Direccion"    id="controls" type="text" class="form-control mb-3" placeholder="Ingrese Direccion">
                    <input asp-for="dueno.Telefono" id="controls" type="text" class="form-control mb-3" placeholder="Ingrese Telefono">
                    <input asp-for="dueno.Correo"    id="controls" type="text" class="form-control mb-3" placeholder="Ingrese Correo">
                    
                    <br>
                    <input type="submit"  value="Registrar" class="btn btn-success">

                </form>
            </div>
           
            <div class="col-md-8">
                <div class="col-md-9">
                    <div class="container-img-propietario">
                        <img src="~/img/mascotas_3937043_20191223105958_preview_rev_1.png" alt="Mascotas">
                    </div>
                    <table class="table">
                        <thead class="table-success table-striped">
                            <tr>
                                <th id="table-form">Id</th>
                                <th id="table-form">Nombres</th>
                                <th id="table-form">Apellidos</th>
                                <th id="table-form">Direccion</th>
                                <th id="table-form">Telefono</th>
                                <th id="table-form">Correo</th>
                                <th colspan="3" id="table-form"></th> 

                            </tr>
                        </thead>
                        <tbody>

                     @foreach (var dueno in Model.listaDuenos)
                    {
                            <tr>
                                <td id="table2-form">@dueno.Id</td>
                                <td id="table2-form">@dueno.Nombres</td>
                                <td id="table2-form">@dueno.Apellidos</td>
                                <td id="table2-form">@dueno.Direccion</td>
                                <td id="table2-form">@dueno.Telefono</td>
                                <td id="table2-form">@dueno.Correo</td>

                                <td id="table2-form">
                                    <a class="btn btn-primary"  asp-page="./DetallesDuenos" asp-route-duenoId="@dueno.Id">
                                        <i class="bi bi-search"></i>Detalles</a>
                                </td>

                                <td id="table2-form">
                                    <a class="btn btn-info" asp-page="./EditarDuenos" asp-route-duenoId="@dueno.Id">
                                        <i class="bi bi-pencil-square"></i>Editar
                                    </a>
                                </td>
                                <td id="table2-form">
                                    <a class="btn btn-danger" asp-page="./ListaDuenos" asp-route-duenoId="@dueno.Id">
                                        <i class="bi bi-trash"></i>Eliminar
                                    </a>
                                </td>
                             </tr>
                    }
                    
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</body>

