@page
@model MascotaFeliz.App.Frontend.Pages.ListaVeterinariosModel
@{
}

        <div class="cont-botones">
            <a class="btn" asp-page="./CrearVeterinarios">Registrar Veterinario</a>           
        </div>

        <div class="cont-tabla">
            <table class="tabla">
                <tr>
                    <th>Id</th>
                    <th>Cedula</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Dirección</th>
                    <th>Telefono</th>
                    <th>Tarjeta profesional</th>
                    <th>Detalles</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                @foreach (var veterinario in Model.listaVeterinarios)
                {
                    <tr>
                    <td>@veterinario.Id</td>
                    <td>@veterinario.Cedula</td>
                    <td>@veterinario.Nombres</td>
                    <td>@veterinario.Apellidos</td>
                    <td>@veterinario.Direccion</td>
                    <td>@veterinario.Telefono</td>
                    <td>@veterinario.TarjetaProfesional</td>
                    <td>
                        <a class="btn-a" asp-page="./DetallesVeterinarios" asp-route-veterinarioId="@veterinario.Id">
                            <img src="~/images/detalle.png" style="width:30px ;" alt="detalles">
                        </a>
                    </td>
                    <td>
                        <a class="btn-a" asp-page="./EditarVeterinarios" asp-route-veterinarioId="@veterinario.Id">
                            <img src="~/images/pencil-fill.png" alt="editar">
                        </a>
                    </td>
                    <td>
                        <a class="btn-a" asp-page="./ListaVeterinarios" asp-route-veterinarioId="@veterinario.Id">
                            <img src="~/images/delete-bin-5-line.png" alt="eliminar">
                        </a>    
                    </td>
                </tr>

                }
                
               
            </table>
        </div>