@page
@model MascotaFeliz.App.Frontend.Pages.DetallesVisitaModel
@{
}


<h1>Detallado De la visita</h1>

<div>
    Numero de Historia: @Model.historia.Id
</div>

<div>
    id de la visita: @Model.visitaPyP.Id
</div>

<div>
    Fecha De Visita: @Model.visitaPyP.FechaVisita
</div>

<div>
    Nombre mascota: @Model.mascota.Nombre
</div>

<div>
    Especie: @Model.mascota.Especie
</div>

<div>
    Temperatura: @Model.visitaPyP.Temperatura
</div>

<div>
    Peso: @Model.visitaPyP.Peso
</div>

<div>
    Frecuencia Respiratoria: @Model.visitaPyP.FrecuenciaRespiratoria
</div>

<div>
    Frecuencia Cardiaca: @Model.visitaPyP.FrecuenciaCardiaca
</div>

<div>
    Estado de animo: @Model.visitaPyP.EstadoAnimo
</div>

<div>
    Recomendaciones: @Model.visitaPyP.Pecomendaciones
</div>

<br>
<br>
<br>
<div>
<a asp-area="" asp-page="/Visitas/ListaVisitas" asp-route-historiaId="@Model.historia.Id" asp-route-mascotaId="@Model.mascota.Id">Volver A Lista Visitas</a>
</div>
